<!DOCTYPE html>
<htm>
    <html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="plantilla/template :: head">
    </head>


    <body class="body-generic">

        <header th:replace="plantilla/template :: header"> </header>

        <div class="container">
            <h1 th:text="${titulo}"> </h1>
        </div>



        <!--tabla con los datos de users-->
        <div class="container">

            <div class="container">
                <p>
                    <a class="btn btn-primary btn-sm" th:href="@{/views/users/create}"
                        sec:authorize="hasRole('ROLE_ADMIN')" role="button">Nuevo
                        Usuario</a>
                    <a class="btn btn-success btn-sm" th:href="@{/views/users/(format=pdf)}"
                        sec:authorize="hasRole('ROLE_AUDITOR')" role="button">Exportar a PDF
                    </a>
                    </a>

                </p>
            </div>




            <table class="table table-dark table-hover">
                <thead>
                    <tr>

                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Username</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cl:${user}">

                        <td th:text="${cl.nombre}"></td>
                        <td th:text="${cl.apellido}"></td>
                        <td th:text="${cl.username}"></td>
                        <td th:text="${cl.dni}"></td>
                        <td th:text="${cl.email}"></td>
                        <td th:text="${cl.role.descripcion}"></td>

                        <!--Boton Editar-->
                        <td><a class="btn btn-success btn-sm" th:href="@{/views/users/edit/}+${cl.id}"
                                sec:authorize="hasRole('ROLE_ADMIN')" role="button">Edit</a></td>
                        <!--Boton borrar-->
                        <td><a class="btn btn-danger btn-sm" th:href="@{/views/users/delete/}+${cl.id}"
                                sec:authorize="hasRole('ROLE_ADMIN')" role="button"
                                onclick="return confirm('Seguro que desea eliminar');">Delete</a></td>


                    </tr>

                </tbody>

            </table>



        </div>


        <footer th:replace="plantilla/template :: footer"> </footer>


    </body>

    </html>