<!DOCTYPE html>
<!---->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
	<meta charset="UTF-8">
	<title> Usuarios </title>

	<!--Utilizando el navegador Mozilla Firefox, se visualiza correctamente el favicon-->
	<link rel="icon" href="images/favicon32x32.png" type="image/png">

	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<link rel="stylesheet" type="text/css" href="../../static/js/jquery-ui-1.12.1.custom/jquery-ui.css">
	<script type="text/javascript" src="../../static/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
</head>


<body>

	<!--Barra de navegacion-->
	<header th:fragment="header">


		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

			<div class="container-fluid">
				<a class="navbar-brand" href="/home"><strong>Unla</strong></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!--Enlaces del menu-->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" th:href="@{/home}">Inicio</a>
						</li>

					
						
						<div>
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button"
									id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false" sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN') or hasRole('ROLE_AUDITOR') "  >
									Gestion de usuarios y roles
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
									<a class="dropdown-item" href="/views/roles/" sec:authorize="isAuthenticated()">Lista Roles</a>
									<a class="dropdown-item" href="/views/users/" sec:authorize="isAuthenticated()">Lista
										Usuarios</a>
									
								</div>
							</div>
						</div>

						<li class="nav-item">
							<a class="nav-link" href="/views/traer/buscar"  sec:authorize="isAuthenticated() and hasRole('ROLE_ASISTENTE') or hasRole('ROLE_ADMIN_GENERAL') ">Buscar
								aula</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/edificios/" >Lista Edificios</a>
						</li>

						
						<div>
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button"
									id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false" sec:authorize="isAuthenticated() and hasRole('ROLE_ASISTENTE') or hasRole('ROLE_ADMIN_GENERAL') ">
									Gestion de espacios
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
									<a class="dropdown-item" href="/espacio/buscarespacio" sec:authorize="isAuthenticated()">Buscar espacio</a>
									<a class="dropdown-item" href="/espacio/agregarespacio" sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN_GENERAL')" >Agregar espacio</a>
									<a class="dropdown-item" href="/espacio/agregarespaciomes" sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN_GENERAL')" >Agregar espacio Mensual</a>

								</div>
							</div>
						</div>
						<div>
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button"
									id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false" sec:authorize="isAuthenticated() and hasRole('ROLE_ASISTENTE') or hasRole('ROLE_ADMIN_GENERAL') " >
									Gestion de pedidos
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
									<a class="dropdown-item" href="/pedido/pedidoParaFinal" sec:authorize= "hasRole('ROLE_ASISTENTE')">Pedir para final</a>
									<a class="dropdown-item" href="/pedido/pedidoParaCurso" sec:authorize= "hasRole('ROLE_ASISTENTE')">Pedir para curso</a>
									<a class="dropdown-item" href="/pedido/listaPedidos" sec:authorize= "hasRole('ROLE_ADMIN_GENERAL') or hasRole('ROLE_ASISTENTE')">Lista de pedidos</a>

								</div>
							</div>
						</div>
				</div>
				</li>







				<!-- Login -->
				<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
					<li sec:authorize="!isAuthenticated()">
						<a class="btn btn-success" th:href="@{/login}" role="button">LogIn</a>
					</li>
				</ul>


				<!-- Logout  -->
				<ul>
					<li class="navbar-nav" sec:authorize="isAuthenticated()">

						<form th:action="@{/logout}" method="post">
							<button class="btn btn-warning">Logout</button>
						</form>
					</li>

				</ul>

			</div>
			</div>

			</div>
			</div>


		</nav>
		<!-- MENSAJES -->
		<div class="alert alert-success alert-dismissable" th:if="${success != null}">

			<label th:text="${success}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>

		</div>

		<div class="alert alert-danger alert-dismissable" th:if="${error != null}">
			<label th:text="${error}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>

		<div class="alert alert-warning alert-dismissable" th:if="${warning != null}">
			<label th:text="${warning}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>

		</div>

		<div class="alert alert-info alert-dismissable" th:if="${info != null}">
			<label th:text="${info}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>

	</header>

	<!--Contenido-->
	<div class="container"></div>

	<!--Pie de pagina-->

	<footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">

		<div>
			<p>Unla Sistemas Orientacion a Objetos 2 2022 Grupo 02 </p>
		</div>

		<script type="text/javascript" th:scr="@{/js/jquery-3.3.1.min.js}"> </script>
		<script type="text/javascript" th:scr="@{/js/popper.min.js}"> </script>
		<script type="text/javascript" th:scr="@{/js/bootstrap.min.js}"> </script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
			</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
			</script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
			</script>

	</footer>




</body>

</html>