<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="../../static/css/style_404.css">

<head th:replace="plantilla/template :: head">
	
</head>
<body>
	
	<header th:replace="plantilla/template :: header"></header>
	<div class="container text-center py-3"  >
		<div class="panel bg-light">
			<div class="panel-body">
				<aside><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/Mirror.png" alt="404 Image" width="540" height="400"  />
				</aside>
				<main>
					<h4 style = "font-family:georgia,garamond,serif;font-size:30px;font-style:italic;">
					O no tenes la facha para visitar la pagina o no existe <em>. . . como sus sentimientos hacia mi</em>
					</h4>
				  <button class="btn btn-success" onclick="goBack()">&laquo;Regresar</button>
				</main>			 
				
			</div>
			
		</div>
	</div>
	
	<footer th:replace="plantilla/template :: footer"></footer>
	
	<script>
		function goBack(){
			window.history.back();
		}
	</script>
	
</body>
</html>